{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-answers" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">Check your answers before sending your application</h1>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['name']}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="what-is-your-name">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            {% if(data['colour']) %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Colours qualified to juggle with
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['colour']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="colour">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['addressLine1']}}<br>
                {% if(data['addressLine2']) %}
                  {{data['addressLine2']}}<br>
                {% endif %}
                {{data['addressTown']}}<br>
                {% if(data['addressCounty']) %}
                  {{data['addressCounty']}}<br>
                {% endif %}
                {{data['addressPostcode']}}<br>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="renew-confirm-details">Change<span class="govuk-visually-hidden"> address</span></a>
              </dd>
            </div>
          </dl>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and send
        </button>
      </form>
    </div>
  </div>
{% endblock %}
